---
import Layout from "../../layouts/Layout.astro";
import Loading from "../../components/Loading.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
---

<Layout
  title="WiiLink WFC - Rules"
  description="WiiLink Wi-Fi Connection (WWFC) is a brand new service that allows you to play online games with your friends on your Wii!"
  image="/img/temp.png"
>
  <Loading msg="WWFC Rules"/>
  <Header/>

<h1 style="top:200px; margin-bottom:800px; position:relative;">This page is a stub, check back later!</h1>

    <Footer/>