---
import Layout from "../../layouts/Layout.astro";
import Loading from "../../components/Loading.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
---

<Layout
  title="WiiLink WFC - Installation"
  description="WiiLink Wi-Fi Connection (WWFC) is a brand new service that allows you to play online games with your friends on your Wii!"
  image="/img/banners/guide.png"
>
  <Loading msg="Installation"/>
  <Header/>
  <div class="herobg" id="herobg"></div>
  <div class="holder">
    <h1 style="display:flex; flex-wrap:wrap; align-items:center; gap:10px; margin-bottom:50px; position:relative;">
      Step by step guide on how to install WWFC patches on Wii / Wii U!
    </h1>
    <h2 style="transform:rotate(-1deg);">Get the code ready!</h2>
    <p>
      Navigate to the title you want to patch using the <span class="badge bg" style="font-size:15px; padding:10px; background-color:#3a3a3a; margin-left:5px;"><i class="fa fa-search" style="margin-right:8px;"></i> searchbox</span>in this site
      and <span class="badge bg-success" style="font-size:15px; padding:10px; margin-left:5px;"><i class="fa fa-download" style="margin-right:8px;"></i>download</span>the corresponding patch depending on your region.
    </p>
    <h2 style="transform:rotate(0.5deg);">Download the software!</h2>
    <p>
      Download the Gecko homebrew application from the <a href="https://oscwii.org/library/app/Gecko" style="text-decoration:none; color:white;"><button class="btn bg-success" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Click to download Gecko OS by brkirch on the Open Shop Channel" style="font-size:15px; color:white; padding:10px; margin-left:5px;"><i class="fa fa-download" style="margin-right:8px;"></i>Open Shop Channel</button></a> and install it on your Wii.
    </p>
    <h2 style="transform:rotate(1deg);">Let's get patching!</h2>
    <p style="margin-right:30px;"><span class="badge bg-success">
      <i class="icon fas fa-file"></i>
    </span> Place the gecko code in a "codes" <i class="icon fas fa-folder" style="margin-left:8px;"></i>folder on the root of your <i class="icon fas fa-sd-card" style="margin-left:8px;"></i>SD Card</p>
    <img
    src="/img/setup/1.png"
    alt="Step 2"
    style="width:100%; max-width:800px; margin-bottom:40px;"
  />
    <p style="margin-right:30px;"><span class="badge bg-success">
      <i class="icon fas fa-gamepad" style="transform:translate(-3px, 0);"></i>
    </span> Launch Gecko OS from the Homebrew Channel <i class="fa-solid fa-arrow-right"></i> Select "Launch Game" with the game you want to play inside the <i class="icon fas fa-compact-disc" style="margin-left:8px;"></i>disc drive</p>
    <img
    src="/img/setup/2.png"
    alt="Step 2"
    style="width:100%; max-width:800px; margin-bottom:40px;"
  />
    <p><span class="badge bg-success">
      <i class="icon fa-solid fa-check"></i>
    </span> Pat yourself on the back!</p>
    <br><br>
    <span class="badge bg-success" style="width:100%;"><i class="fa fa-circle-check" style="margin-right:8px;"></i> You are now connected to WiiLink WFC!</span>
  </div>

  <Footer />

  <script is:inline>
    window.addEventListener("scroll", function () {
      const mainDiv = document.getElementById("herobg");
      const scrollPos = document.documentElement.scrollTop;
      mainDiv.style.transform = `translateY(${scrollPos/4}px)`;
    });
  </script>

  <style>
    body {
      background-color: rgb(11, 0, 0);
      margin: 0;
    }
    h1,
    h2,
    p {
      color: white;
    }
    h1,
    h2 {
      font-weight: 800;
    }
    .icon {
      height:20px;
      width:20px;
      position: relative;
    }
    img {
      backdrop-filter: blur(8px);
      -webkit-backdrop-filter: blur(8px);
    }
    .herobg {
      background: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0) 70%,
          rgba(11, 0, 0, 1) 100%
        ),
        url("/img/bg.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      animation: changecolor 10s infinite;
      transform: translate(0, 0);
      width: 100%;
      height: 100vh;
      position: absolute;
    }
    .holder {
      transform: translate(0, 130px);
      max-width: 800px;
      margin: 0 auto;
      padding: 0 20px;
      margin-bottom:200px;
    }
    .badge {
      padding:15px;
      margin-right:15px;
      font-size:20px;
    }
    h1 {
      text-align: center;
    }
    h2 {
      margin-top: 50px;
    }
    p {
      margin-top: 20px;
    }
  </style>