---
import Layout from "../../layouts/Layout.astro";
import Loading from "../../components/Loading.astro";
import Header from "../../components/Header.astro";
import Search from "../../components/Search.astro";
import Footer from "../../components/Footer.astro";
import games from "../../../public/json/pages.json";
export async function getStaticPaths() {
  return games.map((data) => ({
    params: {
      slug: data.gameId,
    },
    props: {
      title: data.gameId,
      text: data.gameName,
      desc: data.gameDesc,
    },
  }));
}
const { title, text, desc } = Astro.props;
---

<Layout
  title="WiiLink WFC - Online"
  description="Find out what people are playing on WWFC! | WiiLink Wi-Fi Connection (WWFC) is a brand new service that allows you to play online games with your friends on your Wii!"
  image="img/banners/online.png"
>
  <Loading />
  <Header
    hasSearch={false}
    specialInstructions="padding-top:30px; backdrop-filter: blur(0px); -webkit-backdrop-filter: blur(0px); background-color: #12121200; box-shadow:0px 0px 0px #ffffff00; position:absolute;"
    loadingBarPosition="top:-5px;"
  />
  <div class="head herobg" id="herobg">
    <div id="noResultsHold" class="">
      <div id="main" class="searchbox">
        <h1
          style="color:white; font-family: Rubik; font-weight:800; font-size:58px; display:flex; align-items:center; justify-content:center; gap:20px; text-align:right; z-index:1; position:relative;"
        >
          WiiLink <span
            class="badge"
            style="background-color:rgb(118, 118, 238); font-size:30px; font-family:system-ui;"
            >WFC</span
          >
        </h1>
        <Search />
        <div style=" width:100%; right:0;">
          <p
            id="noResults"
            style="left:0; transform:translate(0, 120%); color:white; display:none; position:absolute;"
          >
            <i class="fa-solid fa-triangle-exclamation"></i> There seems to be nobody
            online right now...
          </p>
          <div style="right:0; display:flex; gap:10px; position:absolute;">
            <button
              type="button"
              style="background-color:#ffffff00; border:0px; color:white; margin-top:15px; font-size:30px; right:0; position:relative;"
              ><a
                href="https://www.patreon.com/WiiLink24"
                style="text-decoration:none; color:white;"
                ><i class="fa fa-heart heart"></i></a
              ></button
            ><button
              type="button"
              style="background-color:#ffffff00; border:0px; color:white; margin-top:15px; font-size:30px; right:0; position:relative;"
              ><a
                href="https://github.com/WiiLink24"
                style="text-decoration:none; color:white;"
                ><i class="fa-brands fa-github github"></i></a
              ></button
            ><a href="https://discord.gg/wiilink"
              ><button
                type="button"
                class="btn btn-primary btn-lg"
                style="margin-top:15px; text-decoration:none; color:white; right:0; position:relative;"
                ><i class="fa-brands fa-discord"></i></button
              ></a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="online-now-holder">
      <div id="online-now"></div>
      <div id="onlineInfo"></div>
      <div
        class="alert alert-light"
        style="color:white; background-color:#121212; border:2px solid #ffffff20;"
        role="alert"
      >
        <b>Heads up!</b><br />To search for a particular game, type in the <span
          class="badge"
          style="font-family:system-ui; font-size:15px; background-color:#ffffff20;"
          ><i class="fa-solid fa-magnifying-glass"></i> search box</span
        > above. You can also <span
          class="badge"
          style="font-family:system-ui; font-size:15px; background-color:#ffffff20;"
          ><i class="fa fa-filter"></i> filter</span
        > online-only results by checking the <i
          class="fa-solid fa-earth-americas"></i> button.
      </div>
    </div>

    <Footer />

    <script type="module" src="/js/online.js"></script>
    
  </div>

  <style is:global>
    .bg-translucent {
      margin-top: 10px;
      padding: 7px;
      background-color: rgba(255, 255, 255, 0.1);
    }
    .card-online {
      text-decoration: none;
      background-color: #090909;
      padding: 20px;
      padding-bottom: 0px;
      color: white;
      backdrop-filter: blur(8px) grayscale(0.7);
      -webkit-backdrop-filter: blur(8px);
      border-radius: 8px;
      border: 2px solid #ffffff20;
      overflow: hidden;
      transition: 0.2s;
    }
    .active {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      position: relative;
    }
    .card-online:hover {
      border: 2px solid #ffffff70;
      transform: scale(1.02);
      transition: 0.2s;
    }
    #card-bg {
      width: 100%;
      transform: translate(-5%, -30%);
      filter: blur(12px) opacity(0.05) grayscale(0.7);
      position: absolute;
      transition: 0.2s;
    }
    .card-online:hover #card-bg {
      filter: blur(12px) opacity(0.1) grayscale(0.3);
      transition: 0.2s;
    }

    @keyframes fadeup {
      from {
        opacity: 0;
        transform: translate(0, 10px);
      }
      to {
        opacity: 1;
        transform: translate(0, 0px);
      }
    }

    @media only screen and (max-width: 800px) {
      .card-online:hover {
        border: 2px solid #ffffff70;
        transform: scale(1);
        transition: 0.2s;
      }
      .card-online {
        width: 100%;
      }
    }
  </style>

  <style>
    body {
      background-color: rgba(11, 0, 0, 1);
    }
    .herobg {
      background: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0) 70%,
          rgba(11, 0, 0, 1) 100%
        ),
        url("/img/bg.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      animation: changecolor 10s infinite;
      width: 100%;
      height: 100vh;
      position: relative;
    }
    .heart  {
      text-decoration: none;
      color: white;
      transform: rotate(0deg) scale(1);
      transition: 0.2s;
    }
    .heart:hover {
      text-decoration: none;
      color: rgb(209, 77, 77);
      transform: rotate(5deg) scale(1.1);
      transition: 0.2s;
    }
    .github:hover {
      opacity: 0.7;
      transition: 0.2s;
    }
    .searchbox {
      width: 95%;
      max-width: 700px;
      left: 50%;
      top: 160px;
      transform: translate(-50%, 0%);
      z-index: 100;
      position: relative;
    }
    .online-now-holder {
      top: 300px;
      left: 50%;
      transform: translate(-50%, 0);
      width: 100%;
      max-width: 1500px;
      margin-bottom: 500px;
      color: white;
      position: relative;
    }
    #online-now {
      margin-bottom: 20px;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
      gap: 20px;
      position: relative;
    }
    #onlineInfo {
      margin-bottom: 50px;
    }
    #enhanced {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
      gap: 20px;
      position: relative;
    }

    @media only screen and (max-width: 800px) {
      #online-now {
        margin-bottom: 50px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        position: relative;
      }
      #noResults {
        top: 80px;
        width: 200px;
      }
    }
  </style>
</Layout>
