---
import Layout from "../layouts/Layout.astro";
import Welcome from "../components/Welcome.astro";
import Links from "../components/Links.astro";
import Donate from "../components/Donate.astro";
import Loading from "../components/Loading.astro";
import Head from "../components/DefaultHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<Layout
  title="WiiLink WFC"
  description="WiiLink Wi-Fi Connection (WWFC) is a brand new service that allows you to play online games with your friends on your Wii!"
  image="/img/banners/default.png"
/>
<Loading />

<Header
  hasSearch = {true}
  specialInstructions="padding-top:30px;  backdrop-filter: blur(0px); -webkit-backdrop-filter: blur(0px); background-color: #12121200; box-shadow:0px 0px 0px #ffffff00; position:absolute;"
  loadingBarPosition="top:-5px;"
/>

<head>
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
    crossorigin="anonymous"
  />
  <script is:inline src="//unpkg.com/three"></script>
  <script is:inline src="//unpkg.com/globe.gl"></script>
  <!--  <script src="../../dist/globe.gl.js"></script>-->
</head>

<body>
  <script type="module" src="/js/globe.js"></script>
  <div class="herobg"></div>
  <div class="topholder">
    <Head />
    <div id="main">
      <h1
        style="color:white; font-family: Rubik; font-weight:800; font-size:58px; text-align:right; z-index:1; position:relative;"
      >
        WiiLink
        <span
          class="badge"
          style="background-color:rgb(118, 118, 238); font-size:30px; transform:translate(0, -10px); font-family:system-ui;"
          >WFC</span
        >
      </h1>
      <h2
        style="color:white; font-family:system-ui; font-size:28px; text-align:right;"
      >
        WiiLink Wi-Fi Connection (WWFC) is a brand new service that allows you
        to play online games with your friends on your Wii and Nintendo DS!
      </h2>
      <div style="right:0; display:flex; gap:10px; position:absolute;">
        <button
          type="button"
          style="background-color:#ffffff00; border:0px; color:white; margin-top:15px; font-size:30px; right:0; position:relative;"
          ><a
            href="https://www.patreon.com/WiiLink24"
            style="text-decoration:none; color:white;"
            ><i class="fa fa-heart heart"></i></a
          ></button
        ><button
          type="button"
          style="background-color:#ffffff00; border:0px; color:white; margin-top:15px; font-size:30px; right:0; position:relative;"
          ><a
            href="https://www.github.com/WiiLink24"
            style="text-decoration:none; color:white;"
            ><i class="fa-brands fa-github github"></i></a
          ></button
        ><button
          type="button"
          style="background-color:#ffffff00; border:0px; color:white; margin-top:15px; font-size:30px; right:0; position:relative;"
          ><a
            href="https://discord.gg/wiilink"
            style="text-decoration:none; color:white;"
            ><i class="fa-brands fa-discord discord"></i></a
          ></button
        >
        <div class="dropdown dropup" style="margin-top:15px;">
          <button
            class="btn btn-success dropdown-toggle"
            style="font-size:20px;"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="fa fa-download"></i> <g>Install now</g>
          </button>
          <ul
            class="dropdown-menu"
            style="width:160%; padding:10px; background-color:rgb(31, 31, 31);"
          >
            <li
              style="margin-bottom:5px; color:white; font-weight:700; text-align:center;"
            >
              Where are you installing?
            </li>
            <li
              style="border-radius:100000px !important; height:50px; margin-bottom:5px; background: linear-gradient(45deg, rgba(31,214,255,1) 0%, rgba(0,129,255,1) 100%); overflow:hidden;"
            >
              <a class="dropdown-item center herosearchprompt" href="/online"
                ><i class="fa-solid fa-search"></i> Search for patches</a
              >
            </li>
            <li>
              <a class="dropdown-item center" href="/setup"
                ><i class="fa-solid fa-gamepad"></i> Wii / Wii U (vWii)</a
              >
            </li>
            <li>
              <a class="dropdown-item center" href="/dolphin"
                ><i class="fa-solid fa-desktop"></i> Dolphin Emulator</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</body>

<Welcome />
<Links />
<Donate />
<div class="jumpin" style="width:100%; height:100%; position:relative;">
  <div
    style="top:50%; left:50%; transform:translate(-50%, -50%); width:300px; display:flex; flex-wrap:wrap; align-items:center; justify-content:center; z-index: 1000000; position:absolute;"
  >
    <h1
      style="color:white; font-family: Rubik; font-weight:800; font-size:58px; text-align:center; z-index:1; position:relative;"
    >
      Jump in!
    </h1>
    <div style="display:flex; flex-direction:column; gap:8px;">
      <div class="dropdown" style="width:100%; position:relative;">
        <button
          class="btn btn-success dropdown-toggle"
          style="margin-bottom:8px; padding:10px; padding-left:20px; padding-right:20px; width:100%; position:relative;"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <i class="fa fa-book"></i> Download instructions
        </button>
        <ul
          class="dropdown-menu"
          style="width:100%; padding:10px; background-color:rgb(31, 31, 31);"
        >
          <li>
            <a class="dropdown-item center" href="/setup"
              ><i class="fa-solid fa-gamepad"></i> Wii / Wii U (vWii)</a
            >
          </li>
          <li>
            <a class="dropdown-item center" href="/dolphin"
              ><i class="fa-solid fa-desktop"></i> Dolphin Emulator</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div
    id="globeViz"
    style="width:100%; top:0px; left:50%; transform:translate(-50%, 0); z-index: 0; overflow:hidden; position:relative;"
  >
  </div>
</div>
<Footer />

<script is:inline>
 window.addEventListener("scroll", function () {
    const mainDiv = document.getElementById("main");
    const elevate = document.getElementById("elevate");
    const scrollPos = document.documentElement.scrollTop;
    // check that width is at least 600px
    if (window.innerWidth > 600) {
      mainDiv.style.transform = `translateY(-${scrollPos / 2.5}px)`;
      elevate.style.transform = `translateY(calc(-45% - ${scrollPos / 4}px))`;
    }
  });
</script>

<style>
  html body {
    background-color: rgb(11, 0, 0);
  }
  .herobg {
    left:50%;
    transform: translate(-50%, 0);
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 70%,
        rgba(11, 0, 0, 1) 100%
      ),
      url("/img/bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: changecolor 10s infinite;
    width: 100%;
    height: 900px;
    max-width: 2000px;
    position: relative;
  }

  .herosearchprompt {
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    top: 2px;
    left: 2px;
    border-radius: 1000000px !important;
    background-color: rgb(33, 33, 33);
    position: relative;
    transition: 0.3s;
  }

  .herosearchprompt:hover {
    background-color: rgba(33, 33, 33, 0.6);
    transition: 0.3s;
  }

  .dropdown-toggle::after {
    display: none;
  }

  .dropup .dropdown-toggle::after {
    display: none;
}

  .center {
    text-align: center;
  }

  .dropdown-item {
    color: white;
    border-radius: 8px;
    padding: 10px;
  }

  .dropdown-item:hover {
    background-color: #ffffff10;
    color: white;
    transition: 0.3s;
  }
  .heart  {
    text-decoration: none;
    color: white;
    transform: rotate(0deg) scale(1);
    transition: 0.2s;
  }
  .heart:hover {
    text-decoration: none;
    color: rgb(209, 77, 77);
    transform: rotate(5deg) scale(1.1);
    filter: drop-shadow(0px 0px 100px red);
    transition: 0.2s;
  }
  .github,
  .discord,
  .heart {
    transition: 0.2s;
  }
  .github:hover {
    transform: translate(0, -3px);
    filter: drop-shadow(0px 0px 100px white);
    transition: 0.2s;
  }
  .discord:hover {
    transform: translate(0, -3px);
    transform: translate(0, -3px);
    filter: drop-shadow(0px 0px 100px blue);
    transition: 0.2s;
  }
  .topholder {
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    height: 900px;
    max-width: 1500px;
    z-index: 100;
    position: absolute;
  }
  #main {
    bottom: 250px;
    right: 38px;
    transform: translate(0, 0);
    width: 550px;
    position: absolute;
  }
  @keyframes changecolor {
    0% {
      filter: hue-rotate(0deg);
    }
    100% {
      filter: hue-rotate(360deg);
    }
  }
  @keyframes fadein {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @media only screen and (max-width: 600px) {
    h1,
    h2 {
      text-align: center !important;
    }
    #main h2 {
      font-size: 25px !important;
    }
    button g {
      display: none;
    }
    .topholder {
      top: 0;
      left: 0;
      transform: translate(0, 0);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      position: absolute;
    }
    .herobg  {
      height: 400px !important;
    }
    #main {
      bottom: 48px;
      width: 80% !important;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    #main div {
      position: relative !important;
    }
    .jumpin {
      top: 0;
      height: 400px !important;
    }
    #globeViz {
      display: none;
    }
  }
</style>
