---
import type { NodeNextRequest } from "next/dist/server/base-http/node";

interface Props {
  hasSearch: string;
  specialInstructions: string;
}

const { hasSearch, specialInstructions } = Astro.props;
---

<!--
<div id="betamobile">
  This service is still in beta, please report your issues on our <a
    href="https://discord.gg/wiilink-750581992223146074"
    style="text-decoration:none;"
    ><i class="fa-brands fa-discord" style="margin-left:8px;"></i> Discord server!</a
  >
</div>
-->
<script is:inline type="module" src="/js/options_panel.js"></script>

<div class="background-fade" id="backblur">
  <div class="customization-container" id="customization">
    <div
      style="display:flex; justify-content:space-between; background-color:#ffffff05; align-items:center; height:80px;padding-left:20px; padding-right:20px; margin-bottom:20px;"
    >
      <div
        style="font-size:30px; color:white; font-family:system-ui; font-weight:800;"
      >
        Customization
      </div>
      <div>
        <button
          type="button"
          class="btn btn-danger"
          onclick="closeCustomization();"><i class="fa fa-close"></i></button
        >
        <button
          type="button"
          id="savebtn"
          class="btn btn-success"
          onclick="saveSelections();"><i class="fa fa-save"></i></button
        >
      </div>
    </div>

    <fieldset style="color:white;">
      <legend
        ><div
          style="width:200px; display:flex; flex-wrap:nowrap; align-items:center;"
        >
          <i class="fa-solid fa-desktop"></i> Display mode
        </div><p style="font-size:17px; text-align:right; opacity:0.7;">
          How much game info will get displayed.
        </p></legend
      >

      <div>
        <label for="complete">
          <input
            type="radio"
            id="complete"
            name="display"
            style="display:none;"
            value="complete"
          />
          <img
            src="../../img/settings/complete.png"
            style="height:100px; margin-right:10px; border:4px solid #ffffff30; border-radius:8px; padding:15px; margin-bottom:7px;"
          />
          Complete
        </label>
      </div>

      <div>
        <label for="compact">
          <input
            type="radio"
            id="compact"
            name="display"
            style="display:none;"
            value="compact"
          />
          <img
            src="../../img/settings/compact.png"
            style="height:100px; margin-right:10px; border:4px solid #ffffff30; border-radius:8px; padding:15px; margin-bottom:7px;"
          />
          Compact
        </label>
      </div>

      <div>
        <label for="utilitarian">
          <input
            type="radio"
            id="utilitarian"
            name="display"
            style="display:none;"
            value="utilitarian"
          />
          <img
            src="../../img/settings/utilitarian.png"
            style="height:100px; margin-right:10px; border:4px solid #ffffff30; border-radius:8px; padding:15px; margin-bottom:7px;"
          />
          Utilitarian
        </label>
      </div>
    </fieldset>
    <hr />
    <fieldset style="color:white;">
      <legend
        ><div
          style="width:200px; display:flex; flex-wrap:nowrap; align-items:center;"
        >
          <i class="fa-solid fa-earth-americas"></i> Online stats
        </div><p style="font-size:17px; text-align:right; opacity:0.7;">
          Size of the online player chips.
        </p></legend
      >

      <div>
        <label for="big">
          <input
            type="radio"
            id="big"
            name="statistics"
            style="display:none;"
            value="big"
          />
          <img
            src="../../img/settings/big.png"
            style="height:100px; margin-right:10px; border:4px solid #ffffff30; border-radius:8px; padding:15px; margin-bottom:7px;"
          />
          Big</label
        >
      </div>

      <div>
        <label for="small">
          <input
            type="radio"
            id="small"
            name="statistics"
            style="display: none;"
            value="small"
          />
          <img
            src="../../img/settings/small.png"
            style="height:100px; margin-right:10px; border:4px solid #ffffff30; border-radius:8px; padding:15px; margin-bottom:7px;"
          />
          Small</label
        >
      </div>
    </fieldset>
    <hr />
    <fieldset style="color:white; font-size:40px; padding-bottom:30px;">
      <legend
        ><div
          style="width:200px; display:flex; flex-wrap:nowrap; align-items:center;"
        >
          <i class="fa-solid fa-palette"></i> Theme
        </div><span class="badge bg-danger" style="transform:rotate(-2deg);"
          ><i class="fa-solid fa-wrench"></i> Under development</span
        ></legend
      >

      <div style="width:80px;">
        <input type="radio" id="dark" name="theme" value="dark" />
        <label for="dark"><i class="fa-solid fa-moon"></i></label>
      </div>

      <div style="width:80px;">
        <input type="radio" id="light" name="theme" value="light" />
        <label for="light"><i class="fa-solid fa-sun"></i></label>
      </div>

      <div style="width:80px;">
        <input type="radio" id="midnight" name="theme" value="midnight" />
        <label for="midnight"><i class="fa-brands fa-hashnode"></i></label>
      </div>
    </fieldset>
    <span
      class="badge bg-success"
      style="left:50%; width:95%; padding:20px; transform:translate(-50%, -15px); font-size:15px; text-align:center; overflow:scroll; position:relative;"
      ><i class="fa-solid fa-circle-info"></i> You will need to refresh the page
      so the changes take full effect.</span
    >
  </div>
</div>

<script is:inline>
  if (!localStorage.getItem("displayMode")) {
    localStorage.setItem("displayMode", "complete");
  }
  if (!localStorage.getItem("theme")) {
    localStorage.setItem("theme", "dark");
  }
  if (!localStorage.getItem("statistics")) {
    localStorage.setItem("statistics", "big");
  }
  if (localStorage.getItem("displayMode")) {
    document.querySelector(
      'input[name="display"][value="' +
        localStorage.getItem("displayMode") +
        '"]',
    ).checked = true;
  }
  if (localStorage.getItem("theme")) {
    document.querySelector(
      'input[name="theme"][value="' + localStorage.getItem("theme") + '"]',
    ).checked = true;
  }
  if (localStorage.getItem("statistics")) {
    document.querySelector(
      'input[name="statistics"][value="' +
        localStorage.getItem("statistics") +
        '"]',
    ).checked = true;
  }

  window.saveSelections = function () {
    var displayMode = document.querySelector(
      'input[name="display"]:checked',
    ).value;
    var theme = document.querySelector('input[name="theme"]:checked').value;
    var statistics = document.querySelector(
      'input[name="statistics"]:checked',
    ).value;

    localStorage.setItem("displayMode", displayMode);
    localStorage.setItem("statistics", statistics);
    localStorage.setItem("theme", theme);

    document.getElementById("savebtn").innerHTML =
      '<i class="fa fa-check"></i> Changes saved';
    setTimeout(() => {
      document.getElementById("savebtn").innerHTML =
        '<i class="fa fa-save"></i>';
    }, 2000);
  };
</script>

<div
  class="offcanvas offcanvas-start"
  tabindex="-1"
  id="offcanvasExample"
  aria-labelledby="offcanvasExampleLabel"
  style="background-color:rgb(23,23,23); z-index:1000000; position:fixed;"
>
  <div class="offcanvas-header">
    <img
      src="/img/logo.png"
      style="left:0%; transform: translate(0, 0); height: 60px; filter:invert(1); position:relative;"
    />
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
      style="filter:invert(1);"></button>
  </div>
  <div class="offcanvas-body">
    <input
      type="text"
      id="game-search-mobile"
      placeholder="   Search for any Wii title..."
      style="font-family:system-ui, FontAwesome;"
    />
    <div id="suggestions-mobile"></div>
    <div>
      <div
        style="margin-top:18px; display:flex; flex-direction:column; gap:8px;"
      >
        <a
          href="/"
          style="text-decoration: none; color:white; padding-bottom:8px; border-radius:8px;"
          ><div
            style="height:50px; background-color: #121212; display:flex; border-radius:8px; justify-content:center; align-items:center;"
          >
            <i class="fa fa-home" style="margin-right:5px;"></i> Home
          </div></a
        >
        <a
          href="/online"
          style="text-decoration: none; color:white; padding-bottom:8px; border-radius:8px;"
          ><div
            style="height:50px; background-color: #121212; border-radius:8px; display:flex; justify-content:center; align-items:center;"
          >
            <i class="fa fa-globe" style="margin-right:5px;"></i> Online
          </div></a
        >
        <a
          href="/settings"
          style="text-decoration: none; color:white; padding-bottom:8px; border-radius:8px;"
          ><div
            style="height:50px; background-color: #121212; border-radius:8px; display:flex; justify-content:center; align-items:center;"
          >
            <i class="fa fa-server" style="margin-right:5px;"></i> Status
          </div></a
        >
        <hr />
        <div
          data-bs-dismiss="offcanvas"
          style="height:50px; color:white; background: rgb(31,214,255); background: linear-gradient(45deg, rgba(31,214,255,1) 0%, rgba(131,255,0,1) 100%); border-radius:8px;  font-size:30px; cursor:pointer; display:flex; justify-content:center; align-items:center;"
          onclick="openCustomization();"
        >
          <i class="fa-solid fa-paint-roller customhover"></i>
        </div>
        <hr />
        <div class="dropdown" style="width:100%; position:relative;">
          <button
            class="btn btn-primary dropdown-toggle"
            style="margin-bottom:8px; width:100%; position:relative;"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="fa fa-download"></i> Install now!
          </button>
          <ul
            class="dropdown-menu"
            style="width:100%; padding:10px; background-color:rgb(31, 31, 31);"
          >
            <li>
              <a class="dropdown-item center" href="/setup"
                ><i class="fa-solid fa-gamepad"></i> Wii / Wii U (vWii)</a>
            </li>
            <li>
              <a class="dropdown-item center" href="/dolphin"
                ><i class="fa-solid fa-desktop"></i> Dolphin Emulator</a>
            </li>
          </ul>
        </div>
        <button type="button" class="btn btn-success"
          ><i
            class="fa-solid fa-square-arrow-up-right"
            style="margin-right:5px;"></i> Visit WiiLink</button
        >
      </div>
    </div>
    <div class="mobileextralinks">
      <a href="/rules"><i class="fa-solid fa-book"></i> Rules</a>
      <a href="https://www.wiilink24.com/privacy-policy"
        ><i class="fa-solid fa-shield"></i> Privacy Policy</a
      >
      <a href="https://www.wiilink24.com/tos"
        ><i class="fa-solid fa-feather"></i> Terms of Service</a
      >
    </div>
  </div>
</div>

<div class="header" style={specialInstructions}>
  <div id="innerheader">
    <a href="/" style="text-decoration: none; color:white;">
      <img
        src="/img/logo.png"
        style="top:50%; transform: translate(0, -50%); height: 60px; filter:invert(1); position:absolute;"
      />
    </a>
    <input
      type="text"
      id="game-search"
      placeholder="   Search for any Wii title..."
      style={hasSearch}
      style="font-family:system-ui, FontAwesome"
    />
    <div id="suggestions"></div>
    <div>
      <div id="links">
        <a
          href="/"
          class="header-link"
          style="text-decoration: none; color:white;"
          ><div
            style="height:50px; display:flex; justify-content:center; align-items:center;"
          >
            <i class="fa fa-home" style="margin-right:5px;"></i> Home
          </div></a
        >
        <a
          href="/online"
          class="header-link"
          style="text-decoration: none; color:white;"
          ><div
            style="height:50px; display:flex; justify-content:center; align-items:center;"
          >
            <i class="fa fa-globe" style="margin-right:5px;"></i> Online
          </div></a
        >
        <a
          href="https://status.wiilink24.com"
          class="header-link"
          style="text-decoration: none; color:white;"
          ><div
            style="height:50px; display:flex; justify-content:center; align-items:center;"
          >
            <i class="fa fa-server" style="margin-right:5px;"></i> Status
          </div></a
        >
        <div class="dropdown">
          <button
            class="btn btn-primary dropdown-toggle"
            style="height:100%; border-top-right-radius:0px; border-bottom-right-radius:0px; transform:translate(3px, 0);"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="fa fa-download" style="margin-right:5px;"></i> Install
          </button>
          <button
            type="button"
            style="height:100%; border-top-left-radius:0px; border-bottom-left-radius:0px;"
            class="btn btn-success"
            ><a
              href="https://www.wiilink24.com"
              style="text-decoration:none; color:white;"
              ><i
                class="fa-solid fa-square-arrow-up-right"
                style="margin-right:5px;"></i> Visit WiiLink</a
            ></button
          >
          <ul
            class="dropdown-menu"
            style="width:100%; padding:10px; border-radius:8px; background-color:rgb(31, 31, 31);"
          >
            <li>
              <a class="dropdown-item center" href="/setup"
                ><i class="fa-solid fa-gamepad"></i> Wii / Wii U (vWii)</a>
            </li>
            <li>
              <a class="dropdown-item center" href="/dolphin"
                ><i class="fa-solid fa-desktop"></i> Dolphin Emulator</a>
            </li>
          </ul>
        </div>
        <div class="dropdown">
          <button
            class="btn"
            style="height:100%;"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i
              class="fa-solid fa-ellipsis-vertical"
              style="color:white; font-size:18px;"></i>
          </button>
          <ul
            class="dropdown-menu"
            style="width:200px; padding:10px; border-radius:8px; background-color:rgb(31, 31, 31);"
          >
            <li>
              <a class="dropdown-item" href="/rules"
                ><i class="fa-solid fa-book"></i> Rules</a>
            </li>
            <li>
              <a
                class="dropdown-item"
                href="https://wiilink24.com/privacy-policy"
                ><i class="fa-solid fa-shield"></i> Privacy Policy</a>
            </li>
            <li>
              <a class="dropdown-item" href="https://wiilink24.com/tos"
                ><i class="fa-solid fa-feather"></i> Terms of Service</a>
            </li>
            <li>
              <a class="dropdown-item"
                ><i class="fa-solid fa-dice"></i> Random game</a>
            </li>
          </ul>
        </div>
      </div>
      <button
        class="btn"
        id="mobilemenu"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasExample"
        aria-controls="offcanvasExample"
        style="right:0; top:50%; transform: translate(0, -50%); position:absolute;"
      >
        <i
          class="fa fa-bars"
          style="font-size:30px; color:white; z-index:0; position:relative;"
        ></i>
      </button>
    </div>
  </div>

  <script is:inline>
    function loadCoverImage(title) {
      switch (title.charAt(3)) {
        case "E":
          return "https://art.gametdb.com/wii/cover/US/" + title + ".png";
        case "P":
        case "D":
        case "H":
        case "X":
        case "Y":
        case "F":
          return "https://art.gametdb.com/wii/cover/EN/" + title + ".png";
        case "J":
          return "https://art.gametdb.com/wii/cover/JA/" + title + ".png";
        case "K":
          return "https://art.gametdb.com/wii/cover/KO/" + title + ".png";
        default:
          return "/img/disc_placeholder.png";
      }
    }

    function loadDiscImage(title) {
      switch (title.charAt(3)) {
        case "E":
          return "https://art.gametdb.com/wii/disc/US/" + title + ".png";
        case "P":
        case "D":
        case "H":
        case "X":
        case "Y":
        case "F":
          return "https://art.gametdb.com/wii/disc/EN/" + title + ".png";
        case "J":
          return "https://art.gametdb.com/wii/disc/JA/" + title + ".png";
        case "K":
          return "https://art.gametdb.com/wii/disc/KO/" + title + ".png";
        default:
          return "/img/disc_placeholder.png";
      }
    }

    fetch("../../json/gamespy_titles.json")
      .then((response) => response.json())
      .then((gamespyTitles) => {
        fetch("../../json/pages.json")
          .then((response) => response.json())
          .then((games) => {
            var gameSearchInput = document.getElementById("game-search");
            var suggestionsDiv = document.getElementById("suggestions");

            gameSearchInput.addEventListener("focus", function (e) {
              suggestionsDiv.style.display = "block";
            });

            gameSearchInput.addEventListener("blur", function (e) {
              if (suggestionsDiv.contains(e.relatedTarget)) {
                return;
              }
              suggestionsDiv.style.display = "none";
            });

            gameSearchInput.addEventListener("input", function (e) {
              suggestionsDiv.innerHTML =
                '<p style="margin-left:20px; font-family:Gilroy; font-size:20px; transform:translate(0, 5px); color:white;">Suggestions:</p>'; // clear previous suggestions
              var inputText = gameSearchInput.value.toLowerCase();
              var counter = 0;
              for (var i = 0; i < games.length; i++) {
                if (games[i].gameName.toLowerCase().startsWith(inputText)) {
                  var discImage = "";
                  if (games[i].gamespyId) {
                    discImage = games[i].gamespyId;
                  } else {
                    discImage = games[i].gameId;
                  }
                  const gameIdPrefix = games[i].gameId.substring(0, 3);
                  const isFound =
                    gamespyTitles.some(
                      (gamespyTitle) => gamespyTitle.GameID === gameIdPrefix,
                    ) || games[i].gamespyId;
                  var onlineFeatures = "";
                  var gamespyId = "";
                  if (games[i].gamespyId) {
                    gamespyId = " | " + games[i].gamespyId;
                  }
                  var suggestion = document.createElement("div");
                  if (isFound) {
                    onlineFeatures +=
                      '<i class="fa-solid fa-earth-americas" style=" padding:5px; padding-left:10px; padding-right:10px; background-color:#3c86c7; border-radius:4px; font-size:15px; margin-right:18px;"></i>';
                  }
                  suggestion.innerHTML =
                    '<a href="/online/' +
                    games[i].gameId +
                    '" id="suggestionitem" style="width:95%; height:100px; margin:10px; border-radius:8px; color:white; text-decoration:none; display:flex; align-items:center; justify-content:space-between; flex-direction:row; overflow:hidden; position:relative;"><img src="' +
                    loadCoverImage(discImage) +
                    '" onerror="this.onerror=null; this.src=\'/img/disc_placeholder.png\';" style="filter:blur(8px) opacity(0.1); position:absolute;" width="100%"> <img src="' +
                    loadDiscImage(discImage) +
                    '" onerror="this.onerror=null; this.src=\'/img/disc_placeholder.png\';" style="margin-left:20px; margin-right:15px;" width="70px"><div style="width:300px; margin-right:20px; font-size:30px; white-space:nowrap; text-overflow:ellipsis; line-height:30px; text-align:right; overflow:hidden;">' +
                    games[i].gameName +
                    "<br><i>" +
                    onlineFeatures +
                    '</i><i style="font-size:20px; opacity:0.7;">' +
                    games[i].gameId +
                    "" +
                    gamespyId +
                    "</i></div></a>";
                  suggestionsDiv.appendChild(suggestion);
                  counter++;
                }
                if (counter >= 5) {
                  break;
                }
              }
              if (counter === 0) {
                suggestionsDiv.innerHTML =
                  "<center style='margin-top:18px; font-size:48px; color:white;'><i class='fa fa-heart-broken'></i><br><p style='font-size:28px;'>No results found</p></center>";
              }
            });
            gameSearchInput.addEventListener("keydown", function (e) {
              if (e.key === "Enter") {
                e.preventDefault();
                const firstSuggestion =
                  document.querySelector("#suggestionitem");
                if (firstSuggestion) {
                  window.location.href = firstSuggestion.getAttribute("href");
                }
              }
            });
          });
      });
  </script>

  <script is:inline>
    fetch("../../json/gamespy_titles.json")
      .then((response) => response.json())
      .then((gamespyTitles) => {
        fetch("../../json/pages.json")
          .then((response) => response.json())
          .then((games) => {
            var gameSearchInput = document.getElementById("game-search-mobile");
            var suggestionsDiv = document.getElementById("suggestions-mobile");

            gameSearchInput.addEventListener("focus", function (e) {
              suggestionsDiv.style.display = "block";
            });

            gameSearchInput.addEventListener("blur", function (e) {
              if (suggestionsDiv.contains(e.relatedTarget)) {
                return;
              }
              suggestionsDiv.style.display = "none";
            });

            gameSearchInput.addEventListener("input", function (e) {
              suggestionsDiv.innerHTML =
                '<p style="margin-left:20px; font-family:Gilroy; font-size:20px; transform:translate(0, 5px); color:white;">Suggestions:</p>'; // clear previous suggestions
              var inputText = gameSearchInput.value.toLowerCase();
              var counter = 0;
              for (var i = 0; i < games.length; i++) {
                if (games[i].gameName.toLowerCase().startsWith(inputText)) {
                  var discImage = "";
                  if (games[i].gamespyId) {
                    discImage = games[i].gamespyId;
                  } else {
                    discImage = games[i].gameId;
                  }
                  const gameIdPrefix = games[i].gameId.substring(0, 3);
                  const isFound =
                    gamespyTitles.some(
                      (gamespyTitle) => gamespyTitle.GameID === gameIdPrefix,
                    ) || games[i].gamespyId;
                  var onlineFeatures = "";
                  var gamespyId = "";
                  if (games[i].gamespyId) {
                    gamespyId = " | " + games[i].gamespyId;
                  }

                  var suggestion = document.createElement("div");
                  if (isFound) {
                    onlineFeatures +=
                      '<i class="fa-solid fa-earth-americas" style=" padding:5px; padding-left:10px; padding-right:10px; background-color:#3c86c7; border-radius:4px; font-size:15px; margin-right:18px;"></i>';
                  }
                  suggestion.innerHTML =
                    '<a href="/online/' +
                    games[i].gameId +
                    '" id="suggestionitem" style="width:95%; height:100px; margin:10px; border-radius:8px; color:white; text-decoration:none; display:flex; align-items:center; justify-content:space-between; flex-direction:row; overflow:hidden; position:relative;"><img src="' +
                    loadCoverImage(discImage) +
                    '" onerror="this.onerror=null; this.src=\'/img/disc_placeholder.png\';" style="filter:blur(8px) opacity(0.1); position:absolute;" width="100%"> <img src="' +
                    loadDiscImage(discImage) +
                    '" onerror="this.onerror=null; this.src=\'/img/disc_placeholder.png\';" style="margin-left:20px; margin-right:15px;" width="70px"><div style="width:300px; margin-right:20px; font-size:30px; white-space:nowrap; text-overflow:ellipsis; line-height:30px; text-align:right; overflow:hidden;">' +
                    games[i].gameName +
                    "<br><i>" +
                    onlineFeatures +
                    '</i><i style="font-size:20px; opacity:0.7;">' +
                    games[i].gameId +
                    "" +
                    gamespyId +
                    "</i></div></a>";
                  suggestionsDiv.appendChild(suggestion);
                  counter++;
                }
                if (counter >= 5) {
                  break;
                }
              }
              if (counter === 0) {
                suggestionsDiv.innerHTML =
                  "<center style='margin-top:18px; font-size:48px; color:white;'><i class='fa fa-heart-broken'></i><br><p style='font-size:28px;'>No results found</p></center>";
              }
            });
            gameSearchInput.addEventListener("keydown", function (e) {
              if (e.key === "Enter") {
                e.preventDefault();
                const firstSuggestion =
                  document.querySelector("#suggestionitem");
                if (firstSuggestion) {
                  window.location.href = firstSuggestion.getAttribute("href");
                }
              }
            });
          });
      });
  </script>

  <style>
    #suggestions {
      left: 110px;
      width: 600px;
      max-height: 618px;
      transform: translate(0, 8px);
      resize: vertical;
      padding-top: 5px;
      background-color: rgba(23, 23, 23, 0.965);
      -webkit-backdrop-filter: blur(8px);
      backdrop-filter: blur(8px);
      border-radius: 8px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border: 2px solid #ffffff10;
      border-top: 0px;
      z-index: 10000;
      display: none;
      overflow-y: scroll;
      position: relative;
      transition: 0s;
    }

    #suggestions-mobile {
      width: 100%;
      transform: translate(0, -10px);
      padding-top: 5px;
      background-color: rgb(23, 23, 23);
      border-radius: 8px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border: 2px solid #ffffff10;
      border-top: 0px;
      z-index: 10000;
      display: none;
      overflow-y: scroll;
      position: relative;
      transition: 0.3s;
    }

    button {
      border-radius: 8px;
    }

    .dropdown-toggle::after {
      display: none;
    }

    .center {
      text-align: center;
    }

    .dropdown-item {
      color: white;
      border-radius: 8px;
      padding: 10px;
    }

    .dropdown-item:hover {
      background-color: #ffffff10;
      color: white;
      transition: 0.3s;
    }

    a {
      text-decoration: none;
      color: #ffffff20;
      transition: 0.2s;
    }

    a:hover {
      color: #ffffff60;
      transition: 0.2s;
    }

    .mobileextralinks {
      display: flex;
      flex-direction: column;
      gap: 5px;
      transform: translate(0, 130px);
      position: relative;
    }

    input[type="radio"] + img {
      transition: 0.3s;
    }

    input[type="radio"]:hover + img {
      border-color: #ffffff50 !important;
      transition: 0.3s;
    }

    input[type="radio"]:checked + img {
      border-color: #ffffff !important;
      transition: 0.3s;
    }

    .header-link {
      transition: 0.3s;
      padding-left: 5px;
      padding-right: 5px;
      border-radius: 8px;
      position: relative;
      overflow: hidden;
    }

    .header-link:hover {
      transform: scale(1.02);
      background-color: #ffffff10;
      backdrop-filter: blur(8px);
      -webkit-backdrop-filter: blur(8px);
      padding-left: 15px;
      padding-right: 15px;
      border-radius: 8px;
      transition: 0.3s;
    }

    .header-link:active {
      transform: scale(0.97);
      background-color: #ffffff40;
      transition: 0.1s;
    }

    .header-link::after {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 0;
      right: 0;
      height: 4px;
      background: #ffffff50;
      transition: 0.2s;
    }

    .header-link:hover::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 4px;
      background: #ffffff50;
      transition: 0.2s;
    }

    hr {
      color: white;
      opacity: 0.03;
      border-top: 2px solid;
    }

    legend {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    fieldset {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 30px;
      padding-left: 20px;
      padding-right: 20px;
    }

    fieldset div {
      width: 150px;
      display: flex;
      flex-wrap: wrap;
      transform: translate(0, -8px);
      gap: 8px;
    }

    label {
      transform: translate(0, -8px);
    }

    legend {
      transform: translate(0, 8px);
    }

    #customization,
    #backblur {
      transition: all 0.2s ease-out;
    }

    .fade-move {
      transform: rotate(50deg);
      opacity: 0;
    }

    .fade-out {
      opacity: 0;
    }

    .background-fade {
      width: 100%;
      height: 100%;
      background-color: #00000090;
      backdrop-filter: grayscale(0.5) blur(8px);
      -webkit-backdrop-filter: grayscale(0.5) blur(8px);
      z-index: 1000000;
      position: fixed;
      display: none;
    }

    .customization-container {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      max-height: 100%;
      overflow-y: scroll;
      max-width: 800px;
      background-color: rgb(23, 23, 23);
      box-shadow: 0px 0px 28px #ffffff10;
      border-radius: 8px;
      border: 2px solid #ffffff05;
      z-index: 1000000;
      position: fixed;
    }

    #innerheader {
      width: 90%;
      height: 80px;
      max-width: 1500px;
      left: 50%;
      transform: translate(-50%, 0);
      position: relative;
    }

    textarea:focus,
    input:focus {
      outline: none;
    }

    .header {
      width: 100%;
      height: 80px;
      z-index: 10000;
      box-shadow: 0px 0px 18px 0px #00000080;
      -webkit-backdrop-filter: blur(8px);
      backdrop-filter: blur(8px);
      background-color: #121212be;
      position: fixed;
    }

    #mobilemenu {
      display: none;
    }

    #game-search {
      left: 110px;
      top: 15px;
      width: 40%;
      max-width: 600px;
      height: 50px;
      padding: 10px;
      border-radius: 8px;
      color: white;
      border: 2px solid #ffffff10;
      background-color: rgba(23, 23, 23, 0.786);
      z-index: 10000;
      position: relative;
    }

    #game-search-mobile {
      width: 100%;
      height: 50px;
      padding: 10px;
      border-radius: 8px;
      color: white;
      border: 2px solid #ffffff10;
      background-color: rgb(23, 23, 23);
      position: relative;
    }
  </style>

  <style is:global>
    #suggestionitem {
      border: 2px solid #ffffff20;
      transition: 0.3s;
    }

    #suggestionitem:hover {
      transform: scale(1.01);
      border: 2px solid #ffffff80;
      transition: 0.3s;
    }

    #links {
      right: 0;
      top: 50%;
      transform: translate(0, -50%);
      display: flex;
      gap: 15px;
      position: absolute;
    }

    #betamobile {
      bottom: 20px;
      right: 20px;
      width: auto;
      height: 40px;
      padding-left: 10px;
      padding-right: 10px;
      border-radius: 8px;
      color: white;
      box-shadow: 0px 0px 10px 0px #00000080;
      border: 2px solid #ffffff10;
      background-color: rgb(26, 26, 26);
      z-index: 10;
      position: fixed;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    @media only screen and (max-width: 1000px) {
      #game-search {
        display: none;
      }
      #suggestions {
        display: none;
      }
      #links {
        display: none;
      }
      #betamobile {
        display: none;
      }
      #mobilemenu {
        display: block !important;
      }
      .header {
        width: 100%;
        height: 80px !important;
      }
      #innerheader {
        left: 50% !important;
        width: calc(100% - 20px) !important;
        transform: translate(-50%, 0) !important;
      }
    }

    @media only screen and (max-width: 600px) {
      #game-search {
        display: none;
      }
      #suggestions {
        display: none;
      }
      .customization-container {
        border-radius: 0px !important;
        border: 0px solid #ffffff10 !important;
      }
    }
  </style>
</div>
