---
import Layout from "../../layouts/Layout.astro";
import Loading from "../../components/Loading.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
---

<Layout
  title="WiiLink WFC - Dolphin Installation"
  description="WiiLink Wi-Fi Connection (WWFC) is a brand new service that allows you to play online games with your friends on your Wii!"
  image="/img/banners/guide.png"
>
  <Loading msg="Dolphin Installation" />
  <Header 
    hasSearch={true} 
  />
  <div class="herobg" id="herobg"></div>
  <div class="holder">
    <h1
      style="display:flex; flex-wrap:wrap; align-items:center; gap:10px; margin-bottom:50px; position:relative;"
    >
      <img
        src="/img/dolphin/dolphin.png"
        alt="Dolphin"
        style="width:100px; position:relative; left:50%; transform:translateX(-50%);"
      />
      Step by step guide on how to install WWFC patches on Dolphin!
    </h1>
    <h2 style="transform:rotate(-1deg);">Get the code ready!</h2>
    <p>
      Navigate to the title you want to patch using the <span
        class="badge bg"
        style="font-size:15px; padding:10px; background-color:#3a3a3a; margin-left:5px;"
        ><i class="fa fa-search" style="margin-right:8px;"></i> searchbox</span
      >in this site and <span
        class="badge bg-success"
        style="font-size:15px; padding:10px; margin-left:5px;"
        ><i class="fa fa-download" style="margin-right:8px;"></i>download</span
      >the corresponding .txt patch depending on your region and/or disc revision.
    </p>
    <h2 style="transform:rotate(0.5deg);">Dump your NAND!</h2>
    <div class="rr-bg"><p class="rr-inner"><b><i class="fa-solid fa-motorcycle"></i> Notice for Retro Rewind users:</b><br>Retro Rewind runs their own WiiLink WFC instance separate from ours. As such, no NAND backup is required to race! <a href="https://github.com/patchzyy/WheelWizard/releases">Download the mod here</a></p></div>
    <p>
      In order to use WiiLink WFC, you may need to have a NAND dump from a real Wii.
      If you don't have one, you can follow this <a
        href="https://wii.hacks.guide/bootmii.html">guide</a
      > to dump your NAND, then install it on Dolphin by going to <b
        >Tools <i class="fa-solid fa-arrow-right"></i> Manage NAND <i
          class="fa-solid fa-arrow-right"></i> Import BootMii NAND Backup...</b
      >
    </p>
    <h2 style="transform:rotate(1deg);">Let's get patching!</h2>
    <div style="display:flex; flex-wrap:wrap;">
      <p style="margin-right:30px;">
        <span class="badge bg-success">
          <i class="icon fas fa-arrow-pointer"></i>
        </span> Right click the title you want to apply a patch to.
      </p>
      <p>
        <span class="badge bg-success">
          <i class="icon fas fa-gear"></i>
        </span> Click on "Properties".
      </p>
    </div>
    <img
      src="/img/dolphin/1.png"
      alt="Step 1"
      style="width:100%; max-width:800px; margin-bottom:40px;"
    />
    <div style="display:flex; flex-wrap:wrap;">
      <p style="margin-right:30px;">
        <span class="badge bg-primary">
          <i class="icon fa fa-code" style="transform:translate(-3px, 0);"></i>
        </span> Click on "Gecko Codes".
      </p>
      <p>
        <span class="badge bg-primary">
          <i class="icon fa fa-plus"></i>
        </span>Click on "Add new code".
      </p>
    </div>
    <img
      src="/img/dolphin/2.png"
      alt="Step 2"
      style="width:100%; max-width:800px; margin-bottom:40px;"
    />
    <p>
      <span class="badge bg-success">
        <i class="icon fa-solid fa-clipboard"></i>
      </span>Paste the code you want to use in the "Code" field.
    </p>
    <img
      src="/img/dolphin/3.png"
      alt="Step 3"
      style="height:400px; max-width:800px; margin-bottom:40px;"
    />
    <p>
      <span class="badge bg-success">
        <i class="icon fa-solid fa-check"></i>
      </span> Save!
    </p>
    <br /><br />
    <span class="badge bg-success" style="width:100%;"
      ><i class="fa fa-circle-check" style="margin-right:8px;"></i> You are now connected
      to WiiLink WFC!</span
    >
  </div>

  <Footer />

  <script is:inline>
    window.addEventListener("scroll", function () {
      const mainDiv = document.getElementById("herobg");
      const scrollPos = document.documentElement.scrollTop;
      mainDiv.style.transform = `translateY(${scrollPos / 4}px)`;
    });
  </script>

  <style>
    body {
      background-color: rgb(11, 0, 0);
      margin: 0;
    }
    h1,
    h2,
    p {
      color: white;
    }
    a {
      color: rgb(62, 211, 62);
      text-decoration: none;
    }
    h1,
    h2 {
      font-weight: 800;
    }
    .icon {
      height: 20px;
      width: 20px;
      position: relative;
    }
    img {
      backdrop-filter: blur(8px);
      -webkit-backdrop-filter: blur(8px);
    }
    .badge {
      padding: 15px;
      margin-right: 15px;
      font-size: 20px;
      white-space: normal;
    }
    .herobg {
      background: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0) 70%,
          rgba(11, 0, 0, 1) 100%
        ),
        url("/img/bg.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      animation: changecolor 10s infinite;
      width: 100%;
      height: 100vh;
      position: absolute;
    }
    .holder {
      transform: translate(0, 130px);
      max-width: 800px;
      margin: 0 auto;
      padding: 0 20px;
      margin-bottom: 200px;
    }
    .rr-bg {
      background: rgb(217,114,118);
      background: linear-gradient(33deg, rgba(217,114,118,1) 0%, rgba(73,199,44,1) 39%, rgba(26,228,207,1) 80%, rgba(36,189,240,1) 100%); 
      padding:4px;
      animation: changecolor 10s infinite;
      border-radius:8px;
    }

    .rr-inner {
      margin:0;
      background: #000000ed;
      padding: 10px;
      border-radius: 6px;
      color: #ffffff;
    }

    .badge {
      padding: 15px;
      margin-right: 15px;
      font-size: 20px;
    }
    h1 {
      text-align: center;
    }
    h2 {
      margin-top: 50px;
    }
    p {
      margin-top: 20px;
    }
  </style>
</Layout>
